/* src/styles/calendar.css */
.fc .fc-daygrid-event {
  color: black !important;
  font-size: 0.78rem;
  padding: 1px 4px;
  border-radius: 4px;
  border: none;
  background-color: inherit !important;
}

.fc .fc-daygrid-event-dot {
  display: none;
}

.fc .fc-custom-event {
  padding: 2px 4px;
  font-weight: 500;
  line-height: 1.1;
  color: black !important;
}
